In [2]:
import pandas as pd
import matplotlib
import numpy

In [4]:
file_info = pd.read_csv('file_info.csv')

In [5]:
file_info.describe()

,id,date,user,pc,filename,content
count,445581,445581,445581,445581,445581,445581
unique,445581,432924,264,956,445581,423033
top,{V2V5-C7WB25TY-6975BTGY},04/14/2010 14:43:32,HSB0196,PC-8001,QR1UGQL5.doc,FF-D8
freq,1,13,11627,11640,1,22549

In [6]:
file_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445581 entries, 0 to 445580
Data columns (total 6 columns):
id          445581 non-null object
date        445581 non-null object
user        445581 non-null object
pc          445581 non-null object
filename    445581 non-null object
content     445581 non-null object
dtypes: object(6)
memory usage: 10.2+ MB

In [7]:
file_info.head()

,id,date,user,pc,filename,content
0,{L9G8-J9QE34VM-2834VDPB},01/02/2010 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...
1,{H0W6-L4FG38XG-9897XTEN},01/02/2010 07:26:19,MOH0273,PC-6699,N3LTSU3O.pdf,25-50-44-46-2D carpenters 25 landed strait dis...
2,{M3Z0-O2KK89OX-5716MBIM},01/02/2010 08:12:03,HPH0075,PC-2417,D3D3WC9W.doc,D0-CF-11-E0-A1-B1-1A-E1 union 24 declined impo...
3,{E1I4-S4QS61TG-3652YHKR},01/02/2010 08:17:00,HPH0075,PC-2417,QCSW62YS.doc,D0-CF-11-E0-A1-B1-1A-E1 becoming period begin ...
4,{D4R7-E7JL45UX-0067XALT},01/02/2010 08:24:57,HSB0196,PC-8001,AU75JV6U.jpg,FF-D8

In [12]:
file_info['content'].str.split(' ')

0         [D0-CF-11-E0-A1-B1-1A-E1, during, difficulty, ...
1         [25-50-44-46-2D, carpenters, 25, landed, strai...
2         [D0-CF-11-E0-A1-B1-1A-E1, union, 24, declined,...
3         [D0-CF-11-E0-A1-B1-1A-E1, becoming, period, be...
4                                                   [FF-D8]
5         [D0-CF-11-E0-A1-B1-1A-E1, county, one, able, 1...
6         [D0-CF-11-E0-A1-B1-1A-E1, special, decided, ba...
7         [D0-CF-11-E0-A1-B1-1A-E1, major, became, many,...
8         [D0-CF-11-E0-A1-B1-1A-E1, yet, chamberlain, ow...
9         [D0-CF-11-E0-A1-B1-1A-E1, identify, 1942, comm...
10        [25-50-44-46-2D, found, british, conflict, clo...
11        [5A-55-4B-41, patients, addresses, evacuated, ...
12        [46-34-56-57, ships, approach, march, well, 19...
13        [25-50-44-46-2D, 3000, wardeux, piece, apparen...
14        [D0-CF-11-E0-A1-B1-1A-E1, securing, brigade, h...
15        [D0-CF-11-E0-A1-B1-1A-E1, lands, effectively, ...
16        [44-33-49-35, though, answered, morning, up, w...
17        [D0-CF-11-E0-A1-B1-1A-E1, protect, accidents, ...
18        [25-50-44-46-2D, realized, up, followed, compr...
19        [D0-CF-11-E0-A1-B1-1A-E1, fathers, retainers, ...
20        [25-50-44-46-2D, piece, defensive, large, time...
21        [D0-CF-11-E0-A1-B1-1A-E1, degree, both, left, ...
22        [50-4B-03-04-14, known, won, affair, however, ...
23        [D0-CF-11-E0-A1-B1-1A-E1, 0500, browning, navy...
24        [D0-CF-11-E0-A1-B1-1A-E1, marriage, or, lower,...
25        [D0-CF-11-E0-A1-B1-1A-E1, hastily, apparently,...
26        [50-4B-03-04-14, done, stood, exploited, desig...
27        [D0-CF-11-E0-A1-B1-1A-E1, rigsraad, young, ini...
28        [25-50-44-46-2D, meet, occupied, 60, home, thi...
29        [D0-CF-11-E0-A1-B1-1A-E1, marriage, eat, visib...
                                ...
445551    [D0-CF-11-E0-A1-B1-1A-E1, platform, responsibi...
445552    [D0-CF-11-E0-A1-B1-1A-E1, required, analyze, a...
445553    [4A-42-41-35, t, five, malnutrition, response,...
445554    [D0-CF-11-E0-A1-B1-1A-E1, limited, paired, 110...
445555    [D0-CF-11-E0-A1-B1-1A-E1, simple, belonging, d...
445556    [D0-CF-11-E0-A1-B1-1A-E1, for, sophisticated, ...
445557    [D0-CF-11-E0-A1-B1-1A-E1, tiny, behest, statem...
445558                                              [FF-D8]
445559    [D0-CF-11-E0-A1-B1-1A-E1, relatively, gather, ...
445560    [25-50-44-46-2D, became, german, last, during,...
445561    [52-34-37-47, had, next, sixty, over, jump, ai...
445562    [D0-CF-11-E0-A1-B1-1A-E1, officially, encircli...
445563    [D0-CF-11-E0-A1-B1-1A-E1, ensure, had, brief, ...
445564    [D0-CF-11-E0-A1-B1-1A-E1, march, whilst, their...
445565    [50-4B-03-04-14, medical, school, found, easte...
445566                                              [FF-D8]
445567    [25-50-44-46-2D, is, expeditionary, preceding,...
445568    [25-50-44-46-2D, world, brought, details, 18th...
445569                                              [FF-D8]
445570    [D0-CF-11-E0-A1-B1-1A-E1, captured, crew, capt...
445571    [D0-CF-11-E0-A1-B1-1A-E1, took, press, fellow,...
445572    [D0-CF-11-E0-A1-B1-1A-E1, respected, life, tho...
445573    [D0-CF-11-E0-A1-B1-1A-E1, showed, director, co...
445574    [D0-CF-11-E0-A1-B1-1A-E1, hundred, recovered, ...
445575    [D0-CF-11-E0-A1-B1-1A-E1, transferred, etricou...
445576    [5A-44-4F-39, government, operations, led, wou...
445577    [25-50-44-46-2D, throughout, 20, once, armed, ...
445578    [D0-CF-11-E0-A1-B1-1A-E1, companies, river, en...
445579    [25-50-44-46-2D, member, august, observed, sel...
445580    [D0-CF-11-E0-A1-B1-1A-E1, insurance, which, br...
Name: content, Length: 445581, dtype: object

In [11]:
pd.__version__

u'0.20.3'

In [25]:
groupUser = file_info.groupby('user').count()

In [ ]:
groupUser(groupUser['id']==1)