In [31]:
import pandas as pd
import matplotlib
import numpy as np

In [13]:
deaths = pd.read_csv('character-deaths.csv')
deaths[:3]

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1

In [16]:
deaths.describe()

,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
count,305.000000,307.000000,299.000000,905.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000
mean,299.157377,2.928339,40.070234,28.861878,0.828790,0.468920,0.272628,0.353326,0.424209,0.272628,0.284624
std,0.703483,1.326482,20.470270,20.165788,0.376898,0.499305,0.445554,0.478264,0.494492,0.445554,0.451481
min,297.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,299.000000,2.000000,25.500000,11.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,299.000000,3.000000,39.000000,27.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,300.000000,4.000000,57.000000,43.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,300.000000,5.000000,80.000000,80.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [27]:
deaths.groupby('Gender',as_index = False).sum()

,Gender,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Nobility,GoT,CoK,SoS,FfC,DwD
0,0,10779.0,120.0,1488.0,4126.0,84,32,45,75,49,52
1,1,80464.0,779.0,10493.0,21994.0,346,218,279,314,201,209

In [28]:
deaths.groupby('Allegiances',as_index = False).sum()

,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Arryn,898.0,8.0,143.0,807.0,20,18,12,0,4,16,0
1,Baratheon,5984.0,55.0,687.0,1126.0,50,42,7,46,22,4,16
2,Greyjoy,2394.0,27.0,312.0,962.0,47,32,0,10,0,39,8
3,House Arryn,598.0,4.0,29.0,206.0,4,2,6,0,3,4,0
4,House Baratheon,1196.0,13.0,190.0,88.0,8,5,2,4,2,0,1
5,House Greyjoy,4189.0,36.0,739.0,838.0,23,5,1,18,0,7,6
6,House Lannister,3590.0,36.0,446.0,546.0,19,8,11,11,6,7,3
7,House Martell,300.0,3.0,70.0,172.0,5,5,0,0,1,11,8
8,House Stark,5673.0,35.0,905.0,707.0,29,6,27,21,4,0,3
9,House Targaryen,1197.0,13.0,128.0,400.0,14,5,9,8,10,0,17
10,House Tully,1495.0,13.0,153.0,277.0,8,3,3,7,5,2,0
11,House Tyrell,300.0,5.0,56.0,223.0,7,6,0,3,9,10,2
12,Lannister,5386.0,48.0,783.0,2513.0,69,58,29,51,38,42,11
13,Martell,600.0,10.0,76.0,712.0,18,20,0,0,14,6,13
14,Night's Watch,16754.0,182.0,1706.0,3426.0,116,11,37,35,79,13,43
15,None,22751.0,251.0,2763.0,7691.0,202,93,48,59,116,57,67
16,Stark,8063.0,55.0,1216.0,2371.0,52,63,35,29,27,10,27
17,Targaryen,1492.0,9.0,253.0,588.0,16,5,7,3,5,0,13
18,Tully,1195.0,10.0,165.0,793.0,20,18,10,7,14,7,2
19,Tyrell,300.0,4.0,29.0,395.0,9,15,3,7,8,13,1
20,Wildling,6888.0,82.0,1132.0,1279.0,24,10,3,5,22,2,20

In [46]:
confirmDeaths = deaths[~deaths['Death Chapter'].isnull()]
confirmDeaths

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
6,Aemon Targaryen (son of Maekar I),Night's Watch,300.0,4.0,35.0,21.0,1,1,1,0,1,1,0
10,Aggar,House Greyjoy,299.0,2.0,56.0,50.0,1,0,0,1,0,0,0
12,Alan of Rosby,Night's Watch,300.0,5.0,4.0,18.0,1,1,0,1,1,0,1
16,Alebelly,House Stark,299.0,2.0,46.0,4.0,1,0,0,1,0,0,0
22,Allard Seaworth,Baratheon,299.0,2.0,10.0,10.0,1,1,0,1,0,0,0
24,Alyn,House Stark,298.0,3.0,34.0,12.0,1,0,1,0,0,0,0
32,Amory Lorch,House Lannister,299.0,2.0,47.0,14.0,1,1,0,1,0,0,0
39,Anvil Ryn,None,299.0,3.0,34.0,34.0,1,0,0,0,1,0,0
47,Aron Santagar,Lannister,299.0,2.0,41.0,18.0,1,1,1,1,0,0,0
56,Arys Oakheart,Lannister,300.0,4.0,21.0,57.0,1,1,1,1,0,1,0
63,Bannen,Night's Watch,299.0,3.0,33.0,0.0,1,0,0,0,1,0,0
65,Barra,None,299.0,2.0,39.0,35.0,0,0,1,0,0,0,0
67,Barsena,None,300.0,5.0,52.0,11.0,0,0,0,0,0,0,1
73,Becca the Baker,None,299.0,3.0,34.0,34.0,0,0,0,0,1,0,0
84,Benfred Tallhart,Stark,299.0,2.0,37.0,16.0,1,1,0,1,0,0,0
85,Benfrey Frey,None,299.0,5.0,51.0,51.0,1,1,0,0,1,0,0
86,Benjen Stark,Night's Watch,298.0,1.0,24.0,5.0,1,1,1,0,0,0,0
87,Bennet,None,300.0,4.0,31.0,31.0,1,0,0,0,0,1,0
88,Beric Dondarrion,None,300.0,4.0,27.0,42.0,1,1,1,0,1,0,0
94,Biter,None,300.0,4.0,37.0,1.0,1,0,0,1,0,1,0
111,Brown Bernarr,Night's Watch,299.0,3.0,33.0,23.0,1,0,0,1,1,0,0
113,Bryan Fossoway,Baratheon,299.0,2.0,62.0,42.0,1,1,1,1,0,0,0
114,Bryce Caron,Baratheon,299.0,2.0,65.0,29.0,1,1,1,1,0,0,0
116,Bryen Farring,Baratheon,300.0,5.0,62.0,10.0,1,1,0,1,0,0,1
119,Burton Crakehall,Lannister,299.0,2.0,7.0,55.0,1,1,1,1,0,0,0
121,Byam Flint,Night's Watch,299.0,3.0,33.0,33.0,1,0,0,0,1,0,0
126,Catelyn Tully,House Stark,299.0,3.0,51.0,2.0,0,1,1,1,1,0,0
127,Cayn,House Stark,298.0,1.0,49.0,4.0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,Ulf the Ill,House Greyjoy,299.0,2.0,66.0,66.0,1,0,0,1,0,0,0
846,Urreg,Night's Watch,299.0,2.0,19.0,14.0,1,0,0,1,0,0,0
849,Utt,None,299.0,3.0,39.0,30.0,1,0,0,1,1,0,0
851,Varamyr,Wildling,300.0,5.0,0.0,15.0,1,0,0,0,1,0,1
852,Vardis Egen,Arryn,298.0,1.0,40.0,34.0,1,0,1,0,0,0,0
853,Vargo Hoat,None,300.0,3.0,20.0,30.0,1,0,0,1,1,0,0
855,Vayon Poole,Stark,298.0,1.0,21.0,7.0,1,0,1,1,0,0,0
857,Viserys Targaryen,House Targaryen,298.0,1.0,46.0,3.0,1,1,1,0,0,0,0
864,Wallen,Wildling,298.0,1.0,37.0,37.0,1,0,1,0,0,0,0
868,Watt,Night's Watch,299.0,3.0,75.0,69.0,1,0,0,0,1,0,0
870,Waymar Royce,Night's Watch,297.0,1.0,0.0,0.0,1,1,1,0,0,0,0
874,Weese,Lannister,299.0,2.0,38.0,26.0,1,0,0,1,0,0,0
875,Wendel Manderly,Stark,299.0,3.0,51.0,55.0,1,1,1,1,1,0,0
877,Werlag,House Greyjoy,299.0,2.0,66.0,37.0,1,0,0,1,0,0,0
880,Wilbert,Stark,298.0,3.0,29.0,29.0,1,0,0,0,1,0,0
881,Will,Night's Watch,297.0,1.0,0.0,0.0,1,0,1,0,0,0,0
883,Willam Wells,Martell,300.0,5.0,6.0,6.0,1,0,0,0,0,0,1
884,Willem Lannister,House Lannister,299.0,3.0,20.0,19.0,1,1,0,0,1,0,0
888,Willow Witch-eye,Wildling,300.0,5.0,69.0,37.0,0,0,0,0,0,0,1
890,Woth,Night's Watch,299.0,2.0,14.0,14.0,1,0,0,1,0,0,0
893,Wyl (guard),House Stark,298.0,1.0,35.0,35.0,1,0,1,0,0,0,0
894,Wyl the Whittler,None,299.0,3.0,34.0,34.0,1,0,0,0,1,0,0
903,Yellow Dick,None,300.0,5.0,46.0,12.0,1,0,0,0,0,0,1
905,Ygritte,Wildling,299.0,3.0,55.0,51.0,0,0,0,1,1,0,0
908,Yoren,Night's Watch,299.0,2.0,19.0,13.0,1,0,1,1,0,0,0
909,Young Henly,Night's Watch,299.0,3.0,55.0,55.0,1,0,0,0,1,0,0
913,Yurkhaz zo Yunzak,None,300.0,5.0,59.0,47.0,1,0,0,0,0,0,1
914,Yezzan Zo Qaggaz,None,300.0,5.0,57.0,25.0,1,1,0,0,0,0,1
915,Torwynd the Tame,Wildling,300.0,5.0,73.0,73.0,1,0,0,0,1,0,0
916,Talbert Serry,Tyrell,300.0,4.0,29.0,29.0,1,1,0,0,0,1,0

In [49]:
confirmDeaths.groupby('Gender').count()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Nobility,GoT,CoK,SoS,FfC,DwD
Gender,,,,,,,,,,,,
0,33,33,33,33,33,33,33,33,33,33,33,33
1,266,266,262,264,266,263,266,266,266,266,266,266

In [50]:
confirmDeaths.groupby('Allegiances').count()

,Name,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
Allegiances,,,,,,,,,,,,
Arryn,3,3,3,3,3,3,3,3,3,3,3,3
Baratheon,18,18,18,18,18,18,18,18,18,18,18,18
Greyjoy,8,8,8,8,8,8,8,8,8,8,8,8
House Arryn,1,1,1,1,1,1,1,1,1,1,1,1
House Baratheon,5,4,5,5,5,5,5,5,5,5,5,5
House Greyjoy,14,14,14,14,14,14,14,14,14,14,14,14
House Lannister,11,10,11,11,11,11,11,11,11,11,11,11
House Martell,1,1,1,1,1,1,1,1,1,1,1,1
House Stark,19,19,19,19,19,19,19,19,19,19,19,19
House Targaryen,4,4,4,4,3,4,4,4,4,4,4,4
House Tully,5,5,5,5,5,5,5,5,5,5,5,5
House Tyrell,1,1,1,1,1,1,1,1,1,1,1,1
Lannister,18,18,18,18,18,18,18,18,18,18,18,18
Martell,2,2,2,2,2,2,2,2,2,2,2,2
Night's Watch,56,56,56,56,54,56,56,56,56,56,56,56
None,73,71,71,73,73,73,73,73,73,73,73,73
Stark,27,27,27,27,27,27,27,27,27,27,27,27
Targaryen,5,5,5,5,5,5,5,5,5,5,5,5
Tully,4,4,4,4,4,4,4,4,4,4,4,4
Tyrell,1,1,1,1,1,1,1,1,1,1,1,1
Wildling,23,23,23,23,23,23,23,23,23,23,23,23